{% extends "layout.html" %}
{% block body %}

<br><br>
		<div class="section laptops latest">

			<div class="wrapper">

				<h1> Welcome to the Bureau of Informatics</h1>
				<p> This is a brand new service which will help reviewers pick up the latest tech without having to pay for a new laptop every year. </p>
				<br>
				 <p>Select which item you would like to review. Put down a deposit, and you have a month to write your review and then you ship the laptop back to us
					 free of charge!! </p>
				
				<br><br>
			
				<h2>Latest laptop offers </h2>

				<ul class="products">
                    	{{ product_data }}
				</ul>

			</div>

		</div>
{% endblock %}

