{% extends "layout.html" %}
{% block body %}
    <div class="section page">

        <div class="wrapper">

            <div class="breadcrumb"><a href="{{ url_for("laptops") }}">Laptops</a> &gt; {{ product["name"] }} ></div>

            <div class="laptop-picture">
                <span>
                    <img src="{{ url_for("static", filename=product["img"]) }}" alt="{{ product["name"] }} ?>">
                </span>
            </div>

            <div class="laptop-details">

                <h1><span class="price">${{ product["price"] }}</span> {{ product["name"] }}</h1>

                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="{{ product["paypal"] }}">
                    <input type="hidden" name="item_name" value="{{ product["name"] }}">
                    <table>
                    <tr>
                        <th>
                            <input type="hidden" name="on0" value="colour">
                            <label for="os0">Colour</label>
                        </th>
                        <td>
                            <select name="os0" id="os0">
                                {%  for colour in product["colour"] %}
                                    <option value="{{ colour }}">{{ colour }} </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    </table>
                    <input type="submit" value="Add to Cart" name="submit">
                </form>

                <p class="note-designer">* Deposit will be refunded once the tech has been sucessfully returned</p>

            </div>

        </div>

    </div>
{% endblock %}