{% extends "layout.html" %}
{% block body %}
    <div class="section laptops page">
        <div class="wrapper">

            <h1>BOI&rsquo;s Full Catalog of Laptops</h1>

            <ul class="products">
                    {{ product_data }}
            </ul>
        </div>
    </div>
{% endblock %}