
<!DOCTYPE html>
<html>
<head>
	<title>{{ page_title }}</title>
	<link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}" type="text/css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,700" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	

	{% block navbar %}
	
		
	<div class="navbar navbar-default">

		<div class="wrapper">
			<ul class="nav"></ul>
			Bureau of Informatics:
			<a href="{{ url_for('index') }}">Home</a>
			{% if current_user.is_anonymous %}
			<a href="{{ url_for('login') }}">Login</a>
			{% else %}
			<a href="{{ url_for('laptops') }}">Laptops</a>
			<a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
			<a class="cart"><a target="paypal" href="https://www.paypal.com/cgi-bin/webscr?cmd=_cart&amp;business=Q6NFNPFRBWR8S&amp;display=1">Shopping Cart</a></a>
			<a href="{{ url_for('logout') }}">Logout</a>
			{% endif %}
		</ul>
		</div>
	</div>
{% endblock %}

	
	<div id="content">
	{% block body %}{% endblock %}
	</div>

	<div class="footer">

		<div class="wrapper">

			<ul>		
				<li><a href="http://twitter.com/">Twitter</a></li>
				<li><a href="https://www.facebook.com/">Facebook</a></li>
			</ul>

			<p>&copy;{{ current_year }} BOI</p>

		</div>
	
	</div>

	{% for message in get_flashed_messages() %}
		<script>
			alert("{{ message }}");
		</script>
	{% endfor %}

</body>
</html>