{% extends "layout.html" %}
{% block body %}
    <div class="section page">

        <div class="wrapper">

            <h1>Thank You!</h1>

            <p>Thank you for your payment. Your transaction has been completed, and a receipt for your purchase has been emailed to you. You may log into your account at <a href="http://www.paypal.com/us">www.paypal.com/us</a> to view details of this transaction.</p>

            <p>Click here to get transferred to <a href="laptops.php"> the laptop listing</a> page again.</p>

        </div>

    </div>
{% endblock %}