{% extends "layout.html" %}

{% block body %}



<div class="userpage">
<div class="wrapper">

    <h1>User: {{ user.username }}</h1>
    <hr>
    <p>{{ user.subscribers.count() }} subscribers, {{ user.subscribed.count() }} subscribing.</p>
    {% if user == current_user %}
    {% elif not current_user.is_subscribing(user) %}
    <p><a href="{{ url_for('subscribe', username=user.username) }}">Subscribe</a></p>
    {% else %}
    <p><a href="{{ url_for('unsubscribe', username=user.username) }}">Unsubscribe</a></p>
    <hr>

    <h2>Reviews:</h2>

    <div class="wrapper">

        {% endif %}    
   
        <h1>Hi, {{ current_user.username }}!</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.review.label }}<br>
        {{ form.review(cols=32, rows=4) }}<br>
        {% for error in form.review.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>

    {% for review in reviews %}
 <div class="wrapper">
    {{ review.author.username }} says: <b>{{ review.body }}</b>
   
</div>

</div>
</div>
    {% endfor %}

{% endblock %}

